@model Auction.Models.ViewModels.ListingDetailsViewModel
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Listing.Title</h2>

<div class="container row">
    <div class="col-md-9">
        <div class="card">
            <img src="/Images/@Model.Listing.ImagePath">
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Listing.Title
                </h5>
                <p class="card-text">
                    @Model.Listing.Description
                </p>
                <p class="card-text">
                    Price: $@Model.Listing.Price

                </p>
                <p class="card-text">
                    User: @if (Model.Listing.IdentityUser != null)
                    {
                        @Model.Listing.IdentityUser
                    }
                    else
                    {
                        <span>Anonymous</span>
                    }   
                </p>
            </div>
            @if (!Model.Listing.IsSold)
            {
                // show bidings
                if (Model.Listing.Bids != null && Model.Listing.Bids.Count > 0)
                {
                    <div class="card-footer">
                        <h5>Bids</h5>
                        <ul>
                            @foreach (var bid in Model.Listing.Bids)
                            {
                                <li class="my-2">
                                    <span>@bid.User</span>
                                    <span>@bid.Price</span>
                                    <span>
                                        <a asp-controller="Bid" asp-action="Delete" asp-route-id="@bid.Id" class="btn btn-danger btn-sm">
                                            Delete
                                        </a>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="card-footer">
                        <h5>No bids yet</h5>
                    </div>
                }

                <form asp-controller="Bid" asp-action="Create" class="m-2">
                    <input type="hidden" asp-for="Bid.ListingId" value="@Model.Listing.Id" data-val="true" />
                    <div class="form-group">
                        <label asp-for="Bid.Price"></label>
                        <div class="input-group">
                            <input asp-for="Bid.Price" class="form-control" />

                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                        <span asp-validation-for="Bid.Price" class="text-danger"></span>
                    </div>
                </form>
            }
            else
            {
                <div class="card-footer">
                    <h5>Sold to @Model.Listing.GetWinner()!.UserName</h5>
                </div>
            }

            <div class="w-100">
                <a asp-controller="Listing" asp-action="Delete" asp-route-id="@Model.Listing.Id" class="btn w-100 btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @if (Model.Listing.Comments != null && Model.Listing.Comments.Count > 0)
        {
            <div class="card-footer">
                <h5>Comments</h5>
                <ul>
            @foreach (var comment in Model.Listing.Comments)
            {
                <li class="my-2">
                    <span>@comment.User:</span>
                    <span>@comment.Content</span>
                    <span>
                        <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </span>
                </li>
            }
                </ul>
            </div>
        }
        else
        {
            <div class="card-footer">
                <h5>No comments yet</h5>
            </div>
        }

        <form asp-controller="Comment" asp-action="Create">
            <input type="hidden" asp-for="Comment.ListingId" value="@Model.Listing.Id" data-val="true" />
            <div class="form-group">
                <label asp-for="Comment.Content"></label>
                <div class="input-group">
                    <input asp-for="Comment.Content" class="form-control" />

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
                <span asp-validation-for="Comment.Content" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>