@model List<Auction.Models.Listing> 
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var model = Context.Items["model"] as IHasAuthor;
}

<div style="display: flex; gap: 1rem; align-items: center;">
    <span>
        <h2>Active Listings</h2>
    </span>

    <span class="h-75">
        <a class="btn btn-primary" asp-controller="Listing" asp-action="Create">Create Listing</a>
    </span>
</div>

<div class="container row">
    @foreach (var listing in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/Images/@listing.ImagePath" class="card-img-top" alt="@listing.Title" style="max-height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">@listing.Title</h5>
                    <p class="card-text">@listing.Description</p>
                    <p class="card-text">Price: $@listing.Price</p>
                    <p class="card-text">
                        User: @if (listing.IdentityUser != null)
                    {
                        @listing.IdentityUser
                    }
                    else
                    {
                        <span>Anonymous</span>
                    }
                    </p>
                    <a class="btn btn-primary" asp-controller="Listing" asp-action="Details" asp-route-id="@listing.Id">
                        View
                    </a>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && listing.IsUserAuthor(UserManager.GetUserId(User)!))
                    {
                        <a class="btn btn-danger" asp-controller="Listing" asp-action="Delete" asp-route-id="@listing.Id">
                            Delete
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.Any())
{
    <p>No listings found</p>
}