@model Auction.Models.ViewModels.ListingDetailsVM
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Listing.Title</h2>

<div class="container row">
    <div class="col-md-7">
        <div class="card">
            <img class="card-img-top" src="~/Images/@Model.Listing.ImagePath">
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Listing.Title
                </h5>
                <p class="card-text">
                    @Model.Listing.Description
                </p>
                <p class="card-text">
                    Price: $@Model.Listing.Price

                </p>
                <p class="card-text">
                    User: @if (Model.Listing.IdentityUser != null)
                    {
                        @Model.Listing.IdentityUser
                    }
                    else
                    {
                            <span>Anonymous</span>
                    }   
                </p>
                @if (!Model.Listing.IsSold)
                {
                    <span>
                        <a asp-controller="Listing" asp-action="Close" asp-route-id="@Model.Listing.Id" class="btn btn-primary btn-sm">
                            Close Bid
                        </a>
                        </span>
                }
            </div>
            @if (!Model.Listing.IsSold)
            {
                @await Html.PartialAsync("Partials/DetailsBids", Model)
            }
            else
            {
                <div class="card-footer">
                    <h5>
                        Sold
                    @if (Model.Listing.GetWinner() != null)
                    {
                        <>to @Model.Listing.GetWinner()</>
                    }
                    </h5>
                </div>
            }

            <div class="w-100">
                <a asp-controller="Listing" asp-action="Delete" asp-route-id="@Model.Listing.Id" class="btn w-100 btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        @await Html.PartialAsync("Partials/DetailsComments", Model)
    </div>
</div>